body {
    font-family: Arial, serif;
    font-size: 24px;
    margin: 0;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    user-select: none;
}
.header {
    background-color: orangered;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header * {
    margin-left: 12px;
    margin-right: 12px;
}
.header a {
    transition: 0.25s;
    text-decoration: none;
}
.header-link {
    color: white;
}
.header a:hover {
    color: yellow;
    transform: translateY(-4px);
    cursor: pointer;
}
.order > div {
    display: none;
    background-color: white;
    border: 3px solid red;
    border-radius: 5px;
    position: absolute;
    color: black;
    padding: 10px;
    width: 200%;
    top: 100%;
}
.order:hover > div {
    display: block;
}
.logo {
    font-size: 32px;
    color: orange;
    margin-left: 0px;
    margin-right: 256px;
}
.footer {
    width: 100%;
    height: 200px;
    bottom: 0;
    left: 0;
    position: relative;
    background-color: #1f1f1f;
    color: #6f6f6f;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 12px 1fr 12px 1fr;
    grid-template-columns: 1fr;
    font-size: 12px;
    margin-top: auto;
}
.footer-filler {
    width: 100%;
    height: 200px;
}
.copyright {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
}
.info {
    margin-bottom: 100px;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}
.footer-separator {
    margin-left: 25px;
    margin-right: 25px;
    border-left: 1px solid orangered;
    width: 1px;
    height: 12px;
}
.separator {
    background-color: darkgray;
    width: 75%;
    height: 1px;
    margin: 10px auto;
}
.pizza-display {
    text-align: left;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    color: darkgray;
    display: grid;
    grid-template-columns: 1fr 100px;
}
.pizza-display b {
    color: gray;
}
.pizza-price {
    text-align: right;
    grid-column: 2 / 3;
    margin-top: auto;
    margin-bottom: auto;
}
.pizza-separator {
    width: 100%;
    height: 100px;
    background-image: url("/images/pizza.png");
    background-size: 100% auto;
    background-position: center;
}
.hidden-footer-link {
    color: #6f6f6f;
    transition: 0.25s;
    text-decoration: none;
}
.hidden-footer-link:hover {
    color: white;
    cursor: pointer;
}
.features {
    width: 75%;
    text-align: center;
    margin: 50px auto;
}
.features td {
    width: 25%;
}
.feature-icon {
    color: darkgray;
    font-size: 48px;
}
.feature-label-desc {
    color: gray;
    font-size: 18px;
}
.padding {
    height: 50px;
}
.top {
    box-shadow: -20px 0 0 0 white, -25px 0 0 0 orangered;
}
.note {
    color: orangered;
    font-size: 18px;
    margin-left: 24px;
    text-align: left;
    font-weight: normal;
}
.contact-container {
    grid-template-columns: 80% 20%;
    grid-template-rows: 1fr;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-gap: 15px;
}
.contact-info {
    text-align: left;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.contact-email {
    text-align: left;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.contact-form {
    grid-template-rows: 1fr 1fr 4fr 1fr;
    grid-template-columns: 1fr 4fr 4fr;
    grid-gap: 10px;
    width: 100%;
    height: 254px;
    display: grid;
}
.contact-info-section {
    font-size: 16px;
    color: gray;
    line-height: 150%;
}
button {
    background-color: orangered;
    color: white;
    border: none;
    font-family: 'Arial', serif;
    transition: 0.5s;
}
button:active {
    background-color: darkorange;
}
button:hover {
    background-color: red;
}
input, textarea {
    background-color: lightgray;
    border: none;
    outline: none;
    padding: 5px;
}
.error {
    color: red;
}